// Pagination
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  .arrow {
    cursor: pointer;
  }
  .page {
    margin: 0 10px;
    padding: 3px 8px;
    background-color: rgb(201, 193, 193);
    cursor: pointer;
  }
  .active {
    background-color: rgb(177, 11, 11);
    color: white;
  }
}
